<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/head') %>
  <link rel="stylesheet" type="text/css" href="/css/new_venture.css">
</head>
<body>
  <%- include('../partials/header', {subHeading: ''}) %>
  <main>
​
<!-- first half create new venture -->
​
  <div id="new-venture">
  <div class="container">
​
    <div class="row">
      <div id="create-venture" class="col-md-3 col-xs-5">
        <h3 class="title-venture">Venture Buddies!</h3>
        <h4 class="title-venture">Drop them here to invite them</h4>
          <div id="drop-box" class="row">
            <!-- Add Friend DATA HERE -->
          </div>
      </div>
      <div id="friend-list" class="col-md-9 col-xs-13">
        <h2 class="title-venture">Step #1: Choose your Venturists!</h2>
        <% if(friends) { %>
        <% friends.forEach(function(friend){ %>
          <div class="friend-circle" value="<%=friend.id%>"><%=friend.local.email%></div>
        <%  }) %>
        <% } %>
        <button class='btn btn-default' id="show-friends-btn">
          <i class="fa fa-plus-square-o"></i>
          Add New Friends
        </button>
        <%- include('../partials/friends') %>
      </div>
    </div>
​
​
  </div>
  </div>
​
<!-- second half updating category to venture -->
​
  <div id="category-venture">
  <div class="container">
​
    <h3 class="title-venture">Step #2: Choose Your Venture Category</h3>
    <div id="show-categories">
      <div class="row">
        <div class="col-md-3 col-xs-4">

          <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
              <div id="food" class="front">
                <!-- front content -->
              </div>
              <div class="cat back">
                  Food
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-xs-4">

          <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
              <div id="bars" class="front">
                <!-- front content -->
              </div>
              <div class="cat back">
                  Bars
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-xs-4">

          <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
              <div id="outdoors" class="front">
                <!-- front content -->
              </div>
              <div class="cat back">
                  Outdoors
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-xs-4">

          <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
              <div id="romantic" class="front">
                <!-- front content -->
              </div>
              <div class="cat back">
                  Romantic
              </div>
            </div>
          </div>
        </div>
      </div><br><br>

      <div class="row">
        <div class="col-md-3 col-xs-4">


          <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
              <div id="coffee" class="front">
                <!-- front content -->
              </div>
              <div class="cat back">
                  Coffee
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-xs-4">

          <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
              <div id="nightclubs" class="front">
                <!-- front content -->
              </div>
              <div class="cat back">
                  Nightclubs
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-xs-4">

          <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
              <div id="winery" class="front">
                <!-- front content -->
              </div>
              <div class="cat back">
                  Winery
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-xs-4">

          <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
              <div id="adventure" class="front">
                <!-- front content -->
              </div>
              <div class="cat back">
                  Adventure
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="venture-action">
      <div class="row">
        <div class="col-md-12 col-xs-8">
          <input id="venture-location" class="row input-location" name="location" placeholder="Input Location"><br>
          <button id="go-venture-btn" class="btn btn-success" method="post">Go Venture!</button>
        </div>
      </div>
    </div>
   </div>
  </div>
​
  </main>
  <%- include('../partials/footer') %>
  <%- include('../partials/scripts') %>
  <script src='/js/new_venture.js'></script>
</body>
