<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/head') %>
  <link rel="stylesheet" type="text/css" href="/css/new_venture.css">
</head>
<body>
  <%- include('../partials/header', {subHeading: 'New Venture'}) %>
  <main>

<!-- first half create new venture -->

  <div id="new-venture">
  <div class="container">

    <div class="row">
      <div id="create-venture" class="col-md-3 col-xs-5">
        <h3 class="title-venture">Venture Buddies!</h3>
          <div id="drop-box" class="row">
            <!-- Add Friend DATA HERE -->
          </div>

      </div>

      <div id="friend-list" class="col-md-9 col-xs-13">

      <h2 class="title-venture">Choose your Venturists!</h2>

        <% if(friends) { %>
        <% friends.forEach(function(friend){ %>
          <div class="friend-circle" value="<%=friend.id%>"><%=friend.local.email%></div>
        <%  }) %>
        <% } %>

        <button class='btn btn-default' id="show-friends-btn">
          <i class="fa fa-plus-square-o"></i>
        </button>
        <%- include('../partials/friends') %>
      </div>
    </div>


  </div>
  </div>

<!-- second half updating category to venture -->

  <div id="category-venture">
  <div class="container">
    <h3 class="title-venture">Choose Your Venture Category</h3>
    <div id="show-categories">
      <div class="row">
        <div class="col-md-3 col-xs-4"><div class="cat">Food</div></div>
        <div class="col-md-3 col-xs-4"><div class="cat">Drinks</div></div>
        <div class="col-md-3 col-xs-4"><div class="cat">Outdoor</div></div>
        <div class="col-md-3 col-xs-4"><div class="cat">Adventure</div></div>
      </div>
      <div class="row">
        <div class="col-md-3 col-xs-4"><div class="cat">Coffee</div></div>
        <div class="col-md-3 col-xs-4"><div class="cat">Nightlife</div></div>
        <div class="col-md-3 col-xs-4"><div class="cat">Tourist</div></div>
        <div class="col-md-3 col-xs-4"><div class="cat">Date</div></div>
      </div>
    </div>
    <br>
    <br>
    <input id="venture-location" class="row" name="location" placeholder="Input Location">
    <br>
    <br>
    <div class="row">
      <button id="go-venture-btn" class="btn btn-default" formmethod="post">Go Venture!</button>
    </div>
  </div>

  </main>
  <%- include('../partials/footer') %>
  <%- include('../partials/scripts') %>
  <script src='/js/venture.js'></script>
</body>
</html>
