<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/head') %>
  <link rel="stylesheet" type="text/css" href="/css/show_venture.css">
</head>
<body>
  <%- include('../partials/header', {subHeading: 'Yes or No'}) %>
  <main>

  <div id="show-venture" value="<%=venture%>">
  <div class="container-fluid">

    <div class='row'>
      <div class='col-md-12 col-xs-18'>
      <div id="myCarousel" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
          <li data-target="#myCarousel" data-slide-to="4"></li>
          <li data-target="#myCarousel" data-slide-to="5"></li>
          <li data-target="#myCarousel" data-slide-to="6"></li>
          <li data-target="#myCarousel" data-slide-to="7"></li>
          <li data-target="#myCarousel" data-slide-to="8"></li>
          <li data-target="#myCarousel" data-slide-to="9"></li>
          <li data-target="#myCarousel" data-slide-to="10"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img class="venue-image" src="/images/default_img.png">
            <div class="venue-map">
              <iframe src='https://www.google.com/maps/embed/v1/place?q=<%=venues[0].location.address%>&zoom=17&key=AIzaSyBVa8h6g2RoCSSDZi7NyC7UPUn7Z-YDjrM'>
              </iframe>
            </div>
            <div class="carousel-caption">
              <div data-id="<%=venues[0].id%>" class="venue-name"><%=venues[0].name%></div>
              <div class="venue-address"><%=venues[0].location.address%></div>
              <div class="btn-container">
                <span id="<%=venues[0].id%>" class="vote-yes vote-btns" value="true"><i class="fa fa-thumbs-up"></i></span>
                <span id="<%=venues[0].id%>" class="vote-no vote-btns" value="false"><i class="fa fa-thumbs-down"></i></span>
              </div>
            </div>
          </div>
          <% for (var i = 1; i < venues.length; i++) { %>
          <div class="item">
            <img class="venue-image" src="/images/default_img.png">
            <div class="venue-map">
              <iframe src='https://www.google.com/maps/embed/v1/place?q=<%=venues[i].location.address%>&zoom=17&key=AIzaSyBVa8h6g2RoCSSDZi7NyC7UPUn7Z-YDjrM'>
              </iframe>
            </div>
            <div class="carousel-caption">
              <div data-id="<%=venues[i].id%>"class="venue-name"><%=venues[i].name%></div>
              <div class="venue-address"><%=venues[i].location.address%></div>
              <div class="btn-container">
                <span id="<%=venues[i].id%>" class="vote-btns vote-yes" value="true"><i class="fa fa-thumbs-up"></i></span>
                <span id="<%=venues[i].id%>" class="vote-btns vote-no" value="false"><i class="fa fa-thumbs-down"></i></span>
              </div>
            </div>
          </div>
          <% } %>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

      </div>

      <div id="show-ranking-btn">Current Result :
      </div>
      <div id="rank"><%=votes[0] %>Drum roll! PBPBPBBBPBPBPBPBTTTTTTTT...click above~</div>

      </div>
    </div>

  </div>
  <br><br><br><br><br><br><br><br><br>
    <div class="container">
        <ul id = "messages">Messages below!</ul>
        <form id="chat" action="">
          <input id="m" autocomplete="off" placeholder="Messages here, enter to send!" /><button>Send</button>
        </form>
    </div>
  </div>
<br><br><br><br><br><br><br>

  </main>
  <%- include('../partials/footer') %>
  <%- include('../partials/scripts') %>
  <script src='/js/show_venture.js'></script>
</body>
</html>
